@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

div.container{
    padding: 25px;
    margin-top: 50px;
    height: 80%;
    width: 70%;
    max-height: 55vh;
    font-family: 'Open Sans';
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 0, 1, 0.184), rgba(0, 0, 0, 0));
    border-radius: 20px;
}

ul{
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding-right: 5px;
    margin: 0;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

li{
    padding: 15px;
    color:antiquewhite;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 15%;
}

li:hover{
    background: #2c6b74;
    transition: 500ms;
    cursor: pointer;
    color: #ff6112;
    border-radius: 20px;
}

.edit, .delete{
    font-size: 25px;
}

.edit{
    margin-right: 30px;
    color: #00d6c7;
}

.delete{
    color: #ff6112;
}

.edit:hover, .delete:hover{
    color: rgb(5, 26, 24);
    transition: 300ms;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    transition: 200ms;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.taksDate{
    font-size: 22px;
}

.tasksName{
    font-size: 22px;
}

.infos{
    display: flex;
    width: 81%;
    justify-content: space-between;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.spanHeader{
    font-size: 30px;
    display: flex;
}

.headerWrapper{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}