@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.mainDiv{
    font-family: 'Open Sans';
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}

span{
    color: var(--font-color);
    font-size: 130px;
    font-weight: 750;
    text-shadow: 14px 14px 20px rgb(20, 20, 20);
}

img{
    width: 15%;
    margin: 0;
    padding: 0;
}

.titleWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}